<?xml version="1.0" encoding="utf-8"?>

<Root>
  <ServerType>
    <_A_Type Type="1" Enum="SUPERVISORSERVER" />
    <_A_Type Type="2" Enum="GATEWAYSERVER" />
    <_A_Type Type="3" Enum="LOGINSERVER" />
    <_A_Type Type="4" Enum="DATASERVER" />
    <_A_Type Type="5" Enum="CENTERSERVER" />
    <_A_Type Type="6" Enum="SCENESERVER" />
  </ServerType>
  <ServerInfo>
    <_A_Server Type="1" ID ="1" Name="SupervisorServer" IP="127.0.0.1" Port="1231" LogFile="./log/supervisor.log" LogLevel="1">
    </_A_Server>
    <_A_Server Type="2" ID ="1" Name="GatewayServer" IP="127.0.0.1" Port="1233" LogFile="./log/gatewayserver.log" LogLevel="1">
      <ConnectServer>
        <_A_Connect Type="1" ID ="1" />
        <_A_Connect Type="4" ID ="1" />
      </ConnectServer>
    </_A_Server>
    <_A_Server Type="3" ID ="1" Name="LoginServer" IP="127.0.0.1" Port="1235" LogFile="./log/loginserver.log" LogLevel="1">
      <ConnectDB>
        <_A_Connect Type="1" DBEnum="x_login" Url="mysqlx://zx:Luck25.zx@localhost" />
      </ConnectDB>
      <ConnectServer>
        <_A_Connect Type="1" ID ="1" />
      </ConnectServer>
    </_A_Server>
    <_A_Server Type="4" ID ="1" Name="DataServer" IP="127.0.0.1" Port="1237" LogFile="./log/dataserver.log" LogLevel="1">
      <ConnectDB>
        <_A_Connect Type="2" DBEnum="x_data" Url="mysqlx://zx:Luck25.zx@localhost" />
      </ConnectDB>
      <ConnectServer>
        <_A_Connect Type="1" ID ="1" />
      </ConnectServer>
    </_A_Server>
    <_A_Server Type="5" ID ="1" Name="CenterServer" IP="127.0.0.1" Port="1239" LogFile="./log/centerserver.log" LogLevel="1">
      <ConnectServer>
        <_A_Connect Type="1" ID ="1" />
      </ConnectServer>
    </_A_Server>
    <_A_Server Type="6" ID ="1" Name="SceneServer" IP="127.0.0.1" Port="1241" LogFile="./log/sceneserver.log" LogLevel="1">
      <ConnectServer>
        <_A_Connect Type="1" ID ="1" />
        <_A_Connect Type="2" ID ="1" />
      </ConnectServer>
    </_A_Server>
  </ServerInfo>
</Root>